* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

.destaque {
  color: #ec1bff;
}

.negrito {
  font-weight: bold;
}

.italico {
  font-style: italic;
}

.riscado {
  text-decoration: line-through;
}

body {
  background-image: url('./images/backgroud.png');
  background-repeat: no-repeat;
  background-size: 1366px 990px;
  background-color: black;
  display: flex;
  flex-direction: column;
}

main {
  margin-left: 64px;
  margin-right: 64px;
  /* border: #670189 solid 2px; */
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0.7;
  font-size: 30px;
  cursor: pointer;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 999;
}

.scroll-to-top:hover {
  opacity: 1;
}

a {
  text-decoration: none;
}

header {
  gap: 4em;
}

.logo-img {
  width: 150px;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #1e013adc;
  height: 100px;
  gap: 500px;
  top: 0;
  width: 100%;
  z-index: 1000;
}

nav ul {
  list-style: none;
}

.nav-itens {
  display: flex;
  align-items: center;
}

.nav-itens li {
  letter-spacing: 0.2em;
  margin-left: 50px;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
}

.nav-itens li:hover {
  opacity: 0.7;
}

.move-link {
  border: #fff 1.5px solid;
  border-radius: 10px;
  padding: 10px;
  animation: pulse-border 1s infinite ease-in-out;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

.part-one {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;

  /* border: #fff 2px solid; */
}

.tv-3d {
  width: 650px;
  /* border: red 1px solid; */
  position: absolute;
  right: 2px;
  top: 200px;
}

.texts-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  /* border: #fff 1px solid; */
}

.texts-one h1 {
  font-size: 48px;
}

.texts-one h2 {
  font-size: 20px;
}

.btn-acess {
  background-color: #670189;
  text-align: center;
  width: 350px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-acess:hover {
  opacity: 0.9;
}

.part-two {
  display: flex;
  position: relative;
  align-items: center;
  /* justify-content: space-between; */
  margin-top: 150px;
  /* margin-left: 20px; */
  /* border: green 2px solid; */
}

.dispositivos-img {
  position: absolute;
  width: 580px;
  /* border: #fff 1px solid; */
}

.texts-two {
  display: flex;
  flex-direction: column;
  width: auto;
  gap: 20px;
  /* border: red 2px solid; */
  margin-left: 650px;
}

.texts-two h1 {
  font-size: 40px;
  text-align: center;
  /* border: #670189 1px solid; */
}

.texts-two h3 {
  font-weight: 400;
  text-align: justify;
  /* border: 2px solid white; */
}

.subtitle-content {
  display: flex;
  flex-direction: column;
  /* border: 1px solid orange; */
  width: 100%;
  gap: 30px;
}

.contents {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: justify;
  /* border: pink 1px solid; */
}

.contents-child {
  display: flex;
  /* position: relative; */
  /* gap: 15px; */
}

.contents-child div {
  /* border: #fff 1px solid; */
  margin-left: 30px;
}

.contents-child .bi {
  font-size: 50px;
  /* border: green 1px solid; */
  transition: transform 0.3s;
  /* position: absolute; */
}

.contents-child .bi:hover {
  /* font-size: 52px; */
  transform: scale(1.1);
}

.logos {
  width: 100%;
  margin-top: 150px;
  overflow: hidden;
  position: relative;
}

.logos::before,
.logos::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100px;
  pointer-events: none;
  z-index: 1;
}

.logos::before {
  left: 0;
  background: linear-gradient(to right, #000000, #ffffff00);
}

.logos::after {
  right: 0;
  background: linear-gradient(to left, #000000, #ffffff00);
}

.slide {
  display: flex;
  align-items: center;
  width: calc(100px * 20);
  gap: 70px;
  animation: scroll 40s linear infinite;
}

.slide img {
  width: 100px;
}

.part-three {
  background-image: url('./images/background2.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  margin-left: calc(-50vw + 50%);
  text-align: center;
  align-items: center;
  /* border: #ec1bff solid 1px; */
  width: calc(100vw - 8px);
}

.part-three h1 {
  font-size: 60px;
  font-weight: 999;
}

.qualities {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 93%;
  /* border: #fff 2px solid; */
  gap: 67px;
}

.quality-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid;
  border-radius: 20px;
  max-width: 20%;
  gap: 10px;
  padding: 20px;
  transition: transform 0.3s;
  /* border: yellow solid 1px; */
}

.quality-box:hover {
  transform: scale(1.1);
}

.quality-box .bi {
  font-size: 50px;
  width: 60px;
}

.quality-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.part-four {
  background-image: url('./images/background3.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  gap: 20px;
  margin-left: calc(-50vw + 50%);
  text-align: center;
  width: calc(100vw - 8px);
  /* border: #ec1bff 2px solid; */
}

.part-four h1 {
  font-size: 40px;
  /* text-align: center; */
}

.plans {
  display: flex;
  margin-top: 40px;
  gap: 100px;
}

.small-h1 {
  font-size: 20px;
}

.plan-box {
  background-color: #1e013a4f;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid;
  border-radius: 20px;
  /* max-width: 20%; */
  gap: 20px;
  padding: 20px;
}

.plan-check {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.check {
  display: flex;
  gap: 10px;
  /* border: #fff 1px solid; */
}

.plan-btn a {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #670189;
  width: 150px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s;
}

.plan-btn a:hover {
  transform: scale(1.1);
}

.part-five {
  margin-top: 150px;
}

.part-five h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.part-five .btn-acess {
  margin: 50px auto;
  width: 700px;
}

.faq {
  max-width: 600px;
  margin: 0 auto;
}

.faq-item {
  margin-bottom: 10px;
  border: 1px solid #670189;
  border-radius: 5px;
  background-color: #1e013a4f;
  overflow: hidden;
  padding: 15px;
  cursor: pointer;
}

.faq-question {
  width: 100%;
  font-size: 20px;
  text-align: left;
  border: none;
  cursor: pointer;
  outline: none;
}

.faq-answer {
  margin-top: 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  padding: 0 15px;
}

.faq-answer p {
  padding: 15px 0;
  margin: 0;
}

.faq-answer ul {
  margin-left: 30px;
}

.bi-arrow-up-square-fill,
.bi-arrow-down-square-fill {
  margin-right: 10px;
  color: #9000c0;
}

footer {
  display: flex;
  gap: 15px;
  background: #1e013a4b;
  border-radius: 10px;
  padding: 15px;
  margin-top: 100px;
}

.bar {
  border: #fff 1px solid;
  height: 100px;
  align-self: center;
}

.footer-metalfix {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: solid 1px green; */
  width: 33%;
}

.footer-metalfix div p {
  margin-left: 20px;
  margin-top: -15px;
  font-size: small;
  width: 80%;
}

.footer-metalfix img {
  width: 200px;
}


.footer-div {
  margin-top: 22px;
  width: 33%;
  text-align: center;
  /* border: #ec1bff 1px solid; */
}

.footer-div div a {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 15px;
}

.redes div {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.redes div a {
  font-size: 30px;
  transition: transform 0.3s;
}

.redes div a:hover {
  transform: scale(1.3);
}

.expand {
  transition: transform 0.3s;
}

.expand:hover {
  transform: scale(1.1);
}

.direitos {
  padding: 20px;
  text-align: center;
}

@media (min-width: 793px) and (max-width: 1320px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: yellow 1px solid;
    margin-left: 20px;
    margin-right: 20px;
  }

  nav {
    gap: 120px;
  }

  .nav-itens {
    opacity: 0;
    display: flex;
    position: absolute;
    top: 100px;
    right: 0;
    width: 50vw;
    height: 50vh;
    background-color: #1e013a;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .nav-itens li {
    display: none;
  }

  .nav-itens.active {
    opacity: 1;
  }

  .nav-itens.active li {
    display: flex;
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  }

  .part-one {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    text-align: center;
    gap: 40px;
    color: #fff;
    /* border: 1px solid red; */
    width: 99%;
  }

  .part-one h1 {
    font-size: 50px;
  }

  .tv-3d {
    width: 600px;
    align-self: center;
    position: static;
    order: 1;
    margin-left: 17px;
  }

  .texts-one {
    order: 2;
    background-image: url('./images/backgroud.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .btn-acess {
    background-color: #670189;
    width: 500px;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    animation: pulse 1.5s infinite;
    align-self: center;
  }

  .part-two {
    position: relative;
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-blend-mode: overlay;
    width: 90%;
    /* border: lightblue 1px solid; */

    margin-top: 100px;
  }

  .part-two::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    /* Largura total da viewport */
    height: 100%;
    background-image: url('../src/images/watch.png');
    background-size: 500px;
    /* Ajusta para cobrir toda a área */
    background-position: center top;
    /* Posiciona no topo e centraliza */
    background-repeat: no-repeat;
    z-index: -1;
    /* Coloca a imagem atrás do conteúdo */
  }

  .texts-two {
    margin-left: 0;
    margin-top: 200px;
  }

  .texts-two h1 {
    font-size: 50px;
  }

  .dispositivos-img {
    display: none;
  }

  .part-three {
    background-image: url('./images/background2.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    margin-left: 0;
    text-align: center;
    align-items: center;
    /* border: #ec1bff solid 1px; */
    width: calc(100vw - 8px);
  }

  .part-three h1 {
    font-size: 70px;
    font-weight: 999;
  }

  .part-four {
    position: relative;
    background-image: none;
  }

  .part-four::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    /* Largura total da viewport */
    height: 100%;
    background-image: url('./images/background3v.png');
    background-size: cover;
    /* Ajusta para cobrir toda a área */
    background-position: center top;
    /* Posiciona no topo e centraliza */
    background-repeat: no-repeat;
    z-index: -1;
    /* Coloca a imagem atrás do conteúdo */
  }

  .plans {
    /* display: flex; */
    flex-direction: column;
  }
}

@media (max-width: 792px) {
  nav {
    gap: 100px;
  }

  .nav-itens {
    opacity: 0;
    display: flex;
    position: absolute;
    top: 100px;
    right: 0;
    width: 50vw;
    height: 50vh;
    background-color: #1e013a;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .nav-itens li {
    display: none;
  }

  .nav-itens.active {
    opacity: 1;
  }

  .nav-itens.active li {
    display: flex;
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  }

  .part-one {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    text-align: center;
    gap: 40px;
    color: #fff;
    /* border: 1px solid red; */
    width: 99%;
  }

  .part-one h1 {
    font-size: 32px;
  }

  .tv-3d {
    width: 343px;
    align-self: center;
    position: static;
    order: 1;
    margin-left: 17px;
    /* border: 1px white solid; */
  }

  .texts-one {
    order: 2;
    background-image: url('./images/backgroud.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .part-two {
    position: relative;
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-blend-mode: overlay;
    width: 100%;
    /* border: lightblue 1px solid; */
    margin-top: 0;
  }

  .part-two::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    /* transform: translateX(-50%); */
    width: 100%;
    /* Largura total da viewport */
    height: 100%;
    background-image: url('../src/images/watch.png');
    background-size: 500px;
    /* Ajusta para cobrir toda a área */
    background-position: center top;
    /* Posiciona no topo e centraliza */
    background-repeat: no-repeat;
    z-index: -1;
    /* Coloca a imagem atrás do conteúdo */
  }

  .texts-two {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 200px;
  }

  .texts-two h1 {
    font-size: 29px;
  }

  .btn-acess {
    background-color: #670189;
    width: 270px;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    animation: pulse 1.5s infinite;
    align-self: center;
  }

  .btn-acess a {
    font-size: 15px;
  }

  .dispositivos-img {
    display: none;
  }

  .part-three {
    position: relative;
    background-image: none;
    /* background-blend-mode: overlay; */
    /* border: pink solid 2px; */
    margin-left: 0;
    width: 98%;
  }

  .part-three::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    /* transform: translateX(-50%); */
    width: 100%;
    /* Largura total da viewport */
    height: 100%;
    background-image: url('./images/background2v.png');
    background-size: cover;
    /* Ajusta para cobrir toda a área */
    background-position: center top;
    /* Posiciona no topo e centraliza */
    background-repeat: no-repeat;
    z-index: -1;
    /* Coloca a imagem atrás do conteúdo */
  }

  .part-three h1 {
    font-size: 50px;
    margin-top: 15px;
  }

  .part-three h3 {
    font-size: 16px;
  }

  .qualities {
    flex-direction: column;
    align-items: center;
    /* border: white solid 1px; */
    max-width: 90%;
  }

  .quality-box {
    max-width: 90%;
  }

  .quality-text {
    font-size: 20px;
  }

  .part-four {
    position: relative;
    background-image: none;
  }

  .part-four h1 {
    margin-left: 40px;
    margin-right: 40px;
    font-size: 30px;
  }

  .part-four::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    /* transform: translateX(-50%); */
    width: 100%;
    /* Largura total da viewport */
    height: 100%;
    background-image: url('./images/background3v.png');
    background-size: cover;
    /* Ajusta para cobrir toda a área */
    background-position: center top;
    /* Posiciona no topo e centraliza */
    background-repeat: no-repeat;
    z-index: -1;
    /* Coloca a imagem atrás do conteúdo */
  }

  .plans {
    /* display: flex; */
    flex-direction: column;
  }

  .part-five {
    /* border: 1px red solid; */
    max-width: 500px;
    padding: 20px;
    /* align-items: center; */
  }

  .part-five .btn-acess {
    margin: 50px auto;
    width: 270px;
    font-size: 15px;
  }

  

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* border: #ec1bff solid 2px; */
    gap: 30px;
  }

  .footer-metalfix {
    /* border: yellow 1px solid; */
    text-align: center;
    width: 100%;
  }

  .footer-metalfix div p {
    margin-left: 0;
    margin-top: 0;
    font-size: medium;
    width: 100%;
  }

  .footer-div {
    /* border: 2px solid green; */
    width: 80%;
    margin-top: 0;
  }

  .bar {
    border: #fff 1px solid;
    width: 100px;
    height: 1px;
    align-self: center;
  }

  .bi-arrow-up-circle-fill {
    right: 5px;
    opacity: 0.7;
    font-size: 30px;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px yellow solid; */
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 5px rgba(103, 1, 137, 0.7);
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(103, 1, 137, 0.7);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 5px rgba(103, 1, 137, 0.7);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes pulse-border {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }

  100% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-357px * 10));
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}